<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03_绑定键盘事件</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>

<div id="app">
    <!-- 键盘事件绑定 -->
    <input type="text" v-model="name" @keydown="onKeydown($event)">

    <!-- 也可以使用按键修饰符, 指定某个按键触发事件 -->
    <input type="text" v-model="name" @keydown.enter="onEnterKeydown($event)">
</div>

<script>
    new Vue({
        el: '#app',

        // 事件处理
        methods: {
            onKeydown: function (event) {
                if (event.keyCode === 13) {
                    alert('按了回车键');
                }
            },
            onEnterKeydown: function (event) {
                alert('按了回车键');
            }
        }
    });
</script>

</body>
</html>